<!doctype html>
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport"-->
<!--          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"-->
<!--          class="striped">-->


<!--    <title>Document</title>-->
<!--</head>-->
<!--<body>-->


<!--<nav class="nav-extended">-->

<!--    <div class="nav-wrapper green darken-1">-->
<!--        <a href="#" class="brand-logo"><i class="material-icons">storefront</i>Supermercado Chispaso</a>-->
<!--        <ul id="Panel" class="right hide-on-med-and-down">-->
<!--            <li><a href=""><i class="left left material-icons">category</i>Informacion de productos</a></li>-->
<!--            <li><a href="badges.html">Ticket</a></li>-->
<!--            <li><a href="collapsible.html">JavaScript</a></li>-->
<!--            <li><a href="collapsible.html">Agregar</a></li>-->
<!--        </ul>-->
<!--    </div>-->

<!--    <div class="nav-wrapper green darken-2">-->
<!--        <a href="#" data-target="mobile-demo" class="sidenav-trigger"></a>-->
<!--        <ul id="nav-mobile02" class="left hide-on-med-and-down">-->
<!--            <li><a href="administrar_precio_productos.html">Precio de productos</a></li>-->
<!--            <li><a href="administrar_tipo_producto.html">Tipo de productos</a></li>-->
<!--            <li><a href="collapsible.html">JavaScript</a></li>-->

<!--        </ul>-->
<!--    </div>-->


<!--    &lt;!&ndash;   <ul class="tabs tabs-transparent green darken-1">&ndash;&gt;-->
<!--    &lt;!&ndash;        <li class="tab"><a href="crear_precio_productos.html">Precio de productos</a></li>&ndash;&gt;-->
<!--    &lt;!&ndash;        <li class="tab"><a href="#test2">Test 2</a></li>&ndash;&gt;-->
<!--    &lt;!&ndash;        <li class="tab"><a href="#test3">Disabled Tab</a></li>&ndash;&gt;-->
<!--    &lt;!&ndash;        <li class="tab"><a href="#test4">Test 4</a></li>&ndash;&gt;-->
<!--    &lt;!&ndash;    </ul>&ndash;&gt;-->

<!--</nav>-->

<!--{% block content %}-->
<!--{% endblock %}-->

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>-->
<!--<script>-->
<!--var options={}-->
<!--    document.addEventListener('DOMContentLoaded', function() {-->
<!--    var elems = document.querySelectorAll('.fixed-action-btn');-->
<!--    var instances = M.FloatingActionButton.init(elems, options);-->
<!--    });-->
<!--</script>-->
<!--<script>M.AutoInit();</script>-->

<!--</body>-->
<!--</html>-->